openapi: 3.0.3
info:
  title: Valve Telemetry & Control API
  version: 1.2.0
  description: REST API сервиса сбора метрик и аварийного управления запорной арматурой.

servers:
  - url: https://api.valves.telemetry/v1
    description: Production Cluster (Cloud Layer)

paths:
  /valves:
    get:
      summary: Получение списка запорной арматуры
      description: Возвращает массив ТПА с возможностью фильтрации по номинальному давлению (PN).
      parameters:
        - name: pn
          in: query
          required: false
          description: Фильтр по номинальному давлению в барах (кгс/см²)
          schema:
            type: integer
            enum: [16, 25, 40, 63, 100]
            example: 25
      responses:
        '200':
          description: Успешный возврат списка ТПА
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    kks_code:
                      type: string
                      example: "10LAA10AA001"
                    dn:
                      type: integer
                      example: 100
                    pn:
                      type: integer
                      example: 25
                    status:
                      type: string
                      example: "OPEN"
        '400':
          description: Некорректное значение параметра PN

  /valves/{id}/telemetry:
    post:
      summary: Передача телеметрии с электропривода
      parameters:
        - name: id
          in: path
          required: true
          description: KKS-код арматуры
          schema:
            type: string
            example: "10LAA10AA001"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - timestamp
                - position_percent
                - torque_nm
              properties:
                timestamp:
                  type: string
                  format: date-time
                  example: "2026-08-08T12:00:00Z"
                position_percent:
                  type: number
                  example: 45.5
                torque_nm:
                  type: number
                  example: 120.4
      responses:
        '201':
          description: Метрики успешно записаны в TimeSeries DB
        '400':
          description: Ошибка валидации параметров (RFC 7807)
        '500':
          description: Критическая аппаратная ошибка (Авария привода)

  /batch-metrics:
    post:
      summary: Массовая загрузка метрик с группы приводов
      description: Приём пачки измерений крутящего момента (Torque) для оптимизации сетевого трафика IoT Gateway.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - batch_id
                - items
              properties:
                batch_id:
                  type: string
                  example: "BATCH-9901"
                items:
                  type: array
                  items:
                    type: object
                    required:
                      - kks
                      - torque
                    properties:
                      kks:
                        type: string
                        example: "10LAA10AA001"
                      torque:
                        type: number
                        format: float
                        example: 120.4
      responses:
        '207':
          description: Multi-Status. Пачка обработана частично или полностью.
